The purpose of this notebook is to visualize the statistics for teams in the NCAA. This can be used to visualize trends, and try out different types of derived statistics.

This first portion of the notebook is to set up the datasets with the base data. See PushTheEnvelope for more info on the initial "raw" datasets

In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
#Read in Base Datasets: 
folder = '/home/daniel/dev/marchMadness/data/2022_kaggle_vanilla/mens-march-mania-2022/MDataFiles_Stage1/'
#Seeds = pd.read_csv(folder+'MNCAATourneySeeds.csv')
#Conferences = pd.read_csv(folder+'MTeamConferences.csv')
RegularDetail = pd.read_csv(folder+'MRegularSeasonDetailedResults.csv')
#TourneyCompact = pd.read_csv(folder+'MNCAATourneyCompactResults.csv')

This is the "cleaning up" of the Regular Detail CSV. Splits it into Season Averages for more stat manipulation

In [8]:
winTeams = pd.DataFrame()
loseTeams = pd.DataFrame()

columns = ['Season', 'TeamID', 'Points', 'OppTeamID', 'OppPoints','Loc', 'NumOT', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA','OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'OppFGM', 'OppFGA','OppFGM3', 'OppFGA3', 'OppFTM', 'OppFTA', 'OppOR', 'OppDR', 'OppAst', 'OppTO','OppStl', 'OppBlk', 'OppPF']

winTeams[columns]  = RegularDetail[['Season', 'WTeamID', 'WScore', 'LTeamID','LScore','WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA','WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA','LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO','LStl','LBlk', 'LPF']]

winTeams['Wins'] = 1
winTeams['Losses'] = 0

loseTeams[columns] = RegularDetail[['Season', 'LTeamID', 'LScore','WTeamID','WScore','WLoc', 'NumOT', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA','LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 'WFGM', 'WFGA','WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO','WStl','WBlk', 'WPF']]
def change_loc(loc):
    if loc == 'H':
        return 'A'
    elif loc == 'A':
        return 'H'
    else:
        return 'N'
    
loseTeams['Loc'] = loseTeams['Loc'].apply(change_loc)    
    
loseTeams['Wins'] = 0
loseTeams['Losses'] = 1    
    
winloseTeams = pd.concat([winTeams, loseTeams])
#The following line is modified from the original state so that we can extract teams. 
combinedTeams = winloseTeams.groupby(['Season','TeamID']).sum()
combinedTeams['NumGames'] = combinedTeams['Wins'] + combinedTeams['Losses']


display(RegularDetail)
display(combinedTeams)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100418,2022,98,1400,79,1242,76,H,0,28,67,...,13,15,23,5,24,10,15,3,5,21
100419,2022,98,1411,66,1126,63,A,0,24,59,...,21,15,24,5,23,10,19,13,2,23
100420,2022,98,1422,68,1441,49,A,0,23,56,...,24,8,11,10,18,5,16,8,2,12
100421,2022,98,1438,69,1181,68,A,0,31,65,...,17,18,22,11,25,14,14,3,9,11
100422,2022,98,1439,74,1338,47,H,0,29,55,...,20,7,9,0,18,11,11,3,6,14

               Points  OppTeamID  OppPoints  NumOT  FGM   FGA  FGM3  FGA3  \
Season TeamID
2003   1102      1603      36930       1596      0  536  1114   219   583
       1103      2127      33977       2110      8  733  1508   147   434
       1104      1940      35914       1820      1  673  1601   178   556
       1105      1866      33024       1993      4  634  1602   197   540
       1106      1781      34867       1785      1  656  1548   171   494
...               ...        ...        ...    ...  ...   ...   ...   ...
2022   1468      1332      25765       1418      1  501  1097   143   442
       1469      1321      25288       1473      0  458  1111   123   411
       1470      1332      27666       1396      1  475  1153   108   350
       1471      1342      25114       1422      1  454  1048   162   474
       1472      1382      24866       1484      0  496  1140   204   571

               FTM  FTA  ...  OppOR  OppDR  OppAst  OppTO  OppStl  OppBlk  \
Season TeamID            ...
2003   1102    312  479  ...    269    564     256    363     152      44
       1103    514  698  ...    325    595     418    414     173      77
       1104    416  586  ...    305    634     327    388     155      89
       1105    401  568  ...    343    686     411    489     244     109
       1106    298  461  ...    317    626     330    422     246      89
...            ...  ...  ...    ...    ...     ...    ...     ...     ...
2022   1468    187  251  ...    178    461     275    225     113      46
       1469    282  408  ...    169    498     289    237     146      78
       1470    274  369  ...    182    511     288    332      91     119
       1471    272  372  ...    170    497     257    238     137      52
       1472    186  240  ...    143    498     263    202      75      69

               OppPF  Wins  Losses  NumGames
Season TeamID
2003   1102      514    12      16        28
       1103      606    13      14        27
       1104      539    17      11        28
       1105      496     7      19        26
       1106      452    13      15        28
...              ...   ...     ...       ...
2022   1468      318     9      11        20
       1469      389     7      12        19
       1470      366     8      13        21
       1471      353     8      12        20
       1472      290     5      14        19

[6892 rows x 33 columns]

Leaving additional space here for further imports and data manipulation as this project continues on.

Select a team by ID# & Charts will be created.

In [4]:
teamID = 1102

In [5]:
wonGames = RegularDetail[RegularDetail['WTeamID'] == teamID]
lossGames = RegularDetail[RegularDetail['LTeamID'] == teamID]
teamGames = pd.concat([wonGames, lossGames])

teamGames = teamGames.sort_values(by=['Season','DayNum'])

In [18]:
#seasonSum = combinedTeams[combinedTeams['TeamID'] == teamID]
#seasonSum

test = combinedTeams.get(['TeamID'])